<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xsi:schemaLocation="NLog NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true">
  <extensions>
    <add assembly="NLog.Contrib.Targets.LogEntries"/>
  </extensions>
  <variable name="layout" value="${longdate} logger=&quot;${logger}&quot; level=&quot;${LEVEL}&quot; ${all-event-properties:format=[key]=&quot;[value]&quot;:separator= } message=&quot;${message}&quot;" />
  <targets>
    <target xsi:type="Console" name="console" layout="${longdate} logger=&quot;${logger}&quot; level=&quot;${LEVEL}&quot; ${all-event-properties:format=[key]=&quot;[value]&quot;:separator= }" />
    <target xsi:type="Null" name="blackhole" />
    <target name="logentriesA" type="LogEntries" token="dc350a74-e878-44ac-8669-e6433eac6454"
            layout="${layout}"/>
    <target name="logentriesB" type="LogEntries" token="dc350a74-e878-44ac-8669-e6433eac6454"
        layout="${layout}"/>

  </targets>
  <rules>
    <logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />
    <!--<logger name="*" minlevel="Trace" writeTo="console" />-->
    <logger name="LoggerA" minlevel="Trace" writeTo="logentriesA" />
    <logger name="LoggerB" minlevel="Trace" writeTo="logentriesB" />
  </rules>
</nlog>